@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	white-space: normal;
    background-color: #1a1a1a;
    font-family: "IBM Plex Mono", monospace;
    transition: all 0.3 ease;
    color: #e1e1e1;
}


html {
	max-height: 100vh;
	overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 30% 45% 25%;
    max-height: 100vh;
}

.column-1,
.column-2,
.column-3 {
    overflow-y: auto;
    max-height: 100vh;
    padding: 32px 16px;
}

.column-1::-webkit-scrollbar,
.column-2::-webkit-scrollbar,
.column-3::-webkit-scrollbar {
    display: none;
}

.column-1 h1 {
    font-size: 3em;
    font-weight: 300;
    padding-right: 16px;
    color: #1beb9e;
}

.column-1 p {
    font-size: 21px;
}

.column-1 .nav a {
    text-decoration: none;
}

.column-1 .nav .about-nav {
    font-size: 1.5em;
    color: blue;
}

.column-1 .nav .contact-nav {
    font-size: 1.5em;
    color: #ff9528;
}

.column-1 .nav .cv-nav {
    font-size: 1.5em;
    color: #ff45b4;
}

.column-1 .nav .about-nav:hover {
    font-size: 1.5em;
    color: #1a1a1a;
    background-color: #18b6ff;
}

.column-1 .nav .contact-nav:hover {
    color: #1a1a1a;
    font-size: 1.5em;
    background-color: #ff9528;
}

.column-1 .nav .cv-nav:hover {
    font-size: 1.5em;
    color: #1a1a1a;
    background-color: #ff45b4;
}

.column-1 .social-media {
    font-size: 1.5em;
}

.column-1 .social-media a {
    text-decoration: none;
}

.column-2 {
    padding-bottom: 16px;
}

#title-header {
    font-weight: 200;
    font-size: 77px;
}

#column-2-content {
    font-size: 21px;
    padding-bottom: 100px;
}

.column-3 {
    margin-top: 20px;
    padding-left: 48px;
}

.column-3 .list a {
    display: inline-block;
    font-size: 25px;
    color: #1beb9e;
    text-decoration: none;
}

.column-3 .list a:hover {
    display: inline-block;
    font-size: 25px;
    color: #1a1a1a;
    background-color: #1beb9e;
    text-decoration: none;
}

.column-3 .login-sign {
    font-size: 1.5em;
    margin-bottom: 100px;
}

.column-3 .login-sign a {
    text-decoration: none; 
}

.column-3 .login-sign .login {
    color: #e1e1e1;
}

.column-3 .login-sign .sign {
    color: #1beb9e;
}